{% extends 'temp/customer.html' %}
{% block base %}
    {% load static %}
<center>
    <h1>View Food Items and Vegetables</h1>

    <table border="1" cellpadding="10">
        <tr>
            <th>Product</th>
            <th>Type</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Add to Cart</th>
        </tr>
        {% for i in food %}
        <tr>
             <img src="{{ i.image.url }}" alt="{{ i.name }}" width="200" height="150" style="object-fit: cover;">
            <td>{{ i.type }}</td>
            <td>{{ i.description }}</td>
            <td>{{ i.quantity }}</td>
            <td>₹{{ i.price }}</td>
            <td>
                <form method="post" action="{% url 'add_to_cart' i.fu_id %}">
                    {% csrf_token %}
                    <input type="number" name="quantity" value="1" min="1" style="width: 50px;" />
                    <input type="submit" value="Add to Cart">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</center>
{% endblock %}
