{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{% extends 'temp/suprt.html' %}
{% block base %}
{% csrf_token %}

<h1 align="center"></h1>
<table align="center" border="1">
	<tr>
		<th>Product</th>
        <th>stock</th>
		<th>type</th>
		<th>quantity</th>
        <th>price</th>

	</tr>
    {% for i in abb %}
	<tr>
		<td>{{ i.food }}</td>
		<td>{{ i.stock }}</td>
	    <td>{{ i.type }}</td>
        <td>{{ i.quadity }}</td>
        <td>{{ i.price }}</td>
        <td><a href="{%  url  'st_ap'  idd=i.st_id %}">approve</a></td>
        <td><a href="{%  url 'st_rej'  idd=i.st_id %}">reject</a></td>

	</tr>
    {% endfor %}
</table>
{% endblock %}
</body>
</html>