{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}{% extends 'temp/warden.html' %}
{#{% block base %}
    <section id="c" style="padding-top: 100px;">
<h1 align="center"></h1>
<table align="center" border="1">
	<tr>
		<th>Product</th>
        <th>stock</th>
		<th>type</th>
		<th>quantity</th>
        <th>price</th>
	</tr>
    {% for i in ab %}



	<tr>
		<td>{{i.food }}</td>
        <td>{{ i.stock }}</td>
		<td>{{ i.type }}</td>
		<td>{{ i.quadity }}</td>
        <td>{{ i.price }}</td>
        <td><a href="{% url  'stock' idd=i.st_id %}">update</a></td>
	</tr>
    {% endfor %}
</table>
    </section>
{% endblock %}

</body>
</html>